<div id="scrollArea" ng-controller="ScrollCtrl">
    <!--<ul class="topnav">
        <li><img ng-src="images/ignite_colour_hires.png" style="height:100px;width:300px;"/></li>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#contact" ng-click="showRegistrationForm()">Register</a></li>
        <li class="right"><a href="#about">About</a></li>
    </ul>-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#myPage"><span><img style="height:50px;width:100px;margin-top:-20%"
                                                                ng-src="images/ignite_white_hires.png"/></span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="gotoElement('about')">ABOUT</a></li>
                    <li><a ng-click="gotoElement('guidelines')">GUIDELINES</a></li>
                    <li><a ng-click="gotoElement('register')">REGISTER</a></li>
                    <li><a ng-click="gotoElement('contact')">CONTACT</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!--Carousel container-->
    <div class="page-header " style="border-bottom-color:white;">
        <br><br> <img class="img-responsive center-block imgslide" ng-src="images/ignite_colour_hires.png" width="300"
                      height="100">
    </div>

    <div ng-controller="carousalController" id="slides_control">
            <uib-carousel interval="myInterval">
                <uib-slide ng-repeat="slide in slides" active="slide.active">
                    <img id="img-caraousal" ng-src="{{slide.image}}">

                </uib-slide>
            </uib-carousel>
    </div>



<!--Three canvas container-->
<div id="about" class="container-fluid text-center">
    <!--about treasure hunt canvas-->
    <h1 class="logolevels" style="color:white;">Bored? Tired of work? Fret not.</h1>
    <h2>Online treasure hunt is here!!!</h2>
    <h2>{{message}}</h2>
    <div class="row">
        <div class="col-sm-4">
            <img ng-src="images/aboutth1.jpg" class="img-responsive img-rounded " alt="logo">
        </div>
        <div class="col-sm-4">
            <img ng-src="images/NIGHT.jpg" class="img-responsive img-rounded " alt="logo">
        </div>
        <div class="col-sm-4">
            <img ng-src="images/aboutth3.jpg" class="img-responsive img-rounded " alt="logo" height="320">
        </div>
    </div>
</div>

<!--Guidelines container-->
<div id="guidelines" class="container-fluid bg-grey">
    <!--guidelines-->
    <div class="row">
        <div class="col-sm-4">
            </br> <span class="glyphicon glyphicon-list-alt logo "></span>
        </div>
        <div class="col-sm-8">
            <h1 class="logolevels" style="color:#ff751a;">Guidelines</h1>
            <p style="font-size:20px;"> &#149 Four day event</p>
            <p style="font-size:20px;">&#149 Four levels, one each day</p>
            <p style="font-size:20px;">&#149 Caution!! time taken to solve each level might be considered</p>
            <p style="font-size:20px;">&#149 We appreciate righteousness</p>
            <p style="font-size:20px;">&#149 Colleagues qualifying to the next rounds will receive mail at the end of
                the day</p>

        </div>
    </div>
</div>

<!--Registration container-->
<div  id="register" class="container-fluid text-center ">
    <!--reister-->
    <div class="row">
        <div class="col-sm-8">
            <br><br><br>
            <h1 class="logolevels"> Hurry up!!!!!</h1>
            <p align="center" style="font-size:30px;"> Registration ends on 20th September</p>
            <p align="center"><a ng-click="showRegistrationForm()" class="btn btn-primary btnanim"
                                 style="border-color: #ff751a; font-size:20px; padding: 12px 50px;">Register now</a></p>
        </div>
        <div class="col-sm-4">
            <img ng-src="images/thlogo4.png" class="img-responsive img-circle imgslide " alt="logo" width="320"
                 height="320">
        </div>
    </div>
</div>
    <div  id="login" class="container-fluid text-center ">
        <!login-->
        <div class="row">
            <div class="col-sm-8">
                <p align="center"><a ng-click="showLoginForm()" class="btn btn-primary btnanim"
                                     style="border-color: #ff751a; font-size:20px; padding: 12px 50px;">Login</a></p>
            </div>

        </div>
    </div>

<!-- Container (Levels Section) -->
<!-- <div id="topography" class="container-fluid text-center" >
  <h1 class="logolevels" style="color:#ff751a;">Topography</h1>


  <div class="row slideanim">
    <div class="col-sm-3">
      <img src="tomb.jpg" class="img-responsive img-circle imgslide "  alt="tomb" width="320" height="320">
      <h4><a href="personnel.html">Tomb of clues</a></h4>
      <p>Behind the scenes</p>
    </div>
    <div class="col-sm-3">
      <img src="cave1.jpg" class="img-responsive img-circle imgslide  "  alt="cave" width="320" height="320">
      <h4><a href="merchandising.html">Cave of crypts</a></h4>
	  <p>Words can't hold secrets</p>

    </div>
    <div class="col-sm-3">
      <img src="bug2.png" class="img-responsive img-circle imgslide "  alt="bug" width="320" height="320">
      <h4><a href="information.html">Nest of debugs</a></h4>
      <p>One man's crappy software is another man's full time job</p>
    </div>
	<div class="col-sm-3">
      <img src="algo.jpg" class="img-responsive img-circle imgslide"  alt="algo" width="320" height="320">
      <h4><a href="training.html">Rendezvous with algorithm</a></h4>
      <p>An algorithm must be seen to be believed!!</p>
    </div>
  </div>
</div> -->

<!--Contact us container-->
<div id="contact" class="container-fluid bg-grey">
    <!--contact-->

    <div class="row">
        <div class="col-sm-offset-6 col-sm-6">
            <p>Contact us </p>
            <p><span class="glyphicon glyphicon-map-marker"></span> TESCO, Main campus</p>
            <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
            <p><span class="glyphicon glyphicon-envelope"></span> colleague@tesco.com</p>
        </div>

    </div>
</div>

<!--Footer container-->
<footer class="container-fluid  text-center">
    <a ng-click="gotoElement('myNavbar')" title="To Top">
        <span class="glyphicon glyphicon-chevron-up logo-small logolevels" style="color:#ff751a;"></span>
    </a>
    <!--<p><span class="glyphicon glyphicon-copyright-mark logo-small" style="color:black;"></span>Tesco-every little helps</p> -->
    <p> &copy Tesco Technology 2016</p>
</footer>
</div>
<script>

</script>
