<!--navigation bar container-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage" ><span><img style="height:50px;width:100px;margin-top:-20%" ng-src="images/ignite_white_hires.png"/></span></a>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <span id="eventName">TREASURE HUNT</span>
            <ul class="nav navbar-nav navbar-right">

                <li class="handhover"><a ng-click="#">Nikhil K S</a></li>
                <li class="handhover"><a ng-click="#">LOG OUT</a></li>

            </ul>
        </div>
    </div>
</nav>

<!--header-->
<div class="page-header text-center " style="border-bottom-color:white;">
    <br><br><h2 style="font-size:400%">CAVE OF CRYPTS</h2>
</div>
<img class="featureImage"src="images/cipher__by_stickdudeseven-d6fhz2p.jpg" >

<!--Container for sublevel links and main frame for all sublevels-->
<div class="container-fluid">
			 <div class="row">
                 <div id="leftcol" ng-model="myVar" class="col-sm-3 greybg text-center" >
                     <br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel" href="#" > <strong>LEVEL-1</strong></a>
                     <br><br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel"  href="#" > <strong>LEVEL-2</strong></a>
                     <br><br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel" href="#"  ><strong>LEVEL-3</strong></a>
                     <br><br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel"  href="#" ><strong>LEVEL-4</strong></a>
                     <br><br>
                 </div>

<div id="rightcol" class="col-sm-9 greybg">

        <div>
            <h2 class="gradient">Welcome to CAVE OF CRYPTS</h2>
            <blockquote>“One must acknowledge with cryptography no amount of violence will ever solve a math problem.” <br/>
                ―                                     Jacob Appelbaum, Cypherpunks: Freedom and the Future of the Internet
                <form>
                    <div class="form-group"  ng-controller="level3Controller" >
                        <button type="submit" class="btn btn-warning" style="margin-top:1%;" ng-click="submitAnswer(7)" >Start</button>
                    </div>
                </form>
            </blockquote>

        </div>

    </div>
</div>
</div>
</div>






</body ng-app="myApp">
</html>

