
<form class="form-horizontal" for="form" >
    <fieldset>
        <legend><h3>Registration</h3></legend>

    <div class="form-group">
        <label for="fullName" class="col-sm-6 control-label">Name:</label>
        <div class="col-sm-6" >
            <input type="text" class="form-control" id="fullName" aria-describedby="Namehelp" placeholder="Enter email"
                   ng-model="employee.fullName" />
            <small id="Namehelp" class="form-text text-muted">Enter your full name.</small>
        </div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1" class="col-sm-6 control-label">Email address:</label>
        <div class="col-sm-6">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
                ng-model="employee.email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6 control-label" for="exampleInputPassword1">Password</label>
        <div class="col-sm-6">
            <input  type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        </div>
    </div>

    <div  class="col-sm-offset-6 col-sm-6">
        <button type="submit" class="btn btn-default" ng-click="cancelForm()">Cancel</button>
        <button type="submit" class="btn btn-primary" ng-click="submitForm()">Register</button>
    </div>
    </fieldset>
</form>