<!--navigation bar container-->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage" ><span><img style="height:50px;width:100px;margin-top:-20%" ng-src="images/ignite_white_hires.png"/></span></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <span id="eventName">TREASURE HUNT</span>
            <ul class="nav navbar-nav navbar-right">

                <li class="handhover" ng-controller="level3Controller"><a ng-click="">{{tpxid}}</a></li>
                <li class="handhover" ng-controller="logoutController"><a ng-click="logout()">{{logstatus}}</a></li>

            </ul>
        </div>
    </div>
</nav>

<!--header-->
<div class="page-header text-center " style="border-bottom-color:white;">
    <br><br>
    <h2 style="font-size:400%">CAVE OF CRYPTS</h2>
    <div style="margin-top:5%;" class="col-sm-12 text-center" ng-controller="ScrollCtrl"><a style="font-size:150%;text-decoration: none;"  ng-click="gotoElement('question')"> Click to View Question</a></div>
</div>
<img ng-src="images/v.jpg" class="featureImage">
<!--Container for sublevel links and main frame for all sublevels-->
<div class="container-fluid" >
    <div class="row">
        <div id="leftcol" ng-model="myVar" class="col-sm-3 greybg text-center" style="padding-top:5%" >
            <br><br/><img ng-src="images/open.png" class="locked"><a class="lockedLevel" href="#"  > <strong>LEVEL-1</strong></a>
            <br><br><br/><img ng-src="images/open.png" class="locked"><a class="lockedLevel" href="#" style="color:orangered" > <strong>LEVEL-2</strong></a>
            <br><br><br/><img ng-src="images/close.png" class="locked"><a  class="lockedLevel" href="#" ><strong> LEVEL-3</strong></a>
            <br><br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel" href="#" ><strong> LEVEL-4</strong></a>
            <br><br>
        </div>


        <div id="rightcol" class="col-sm-9 greybg">
            <div ng-switch="myVar" style="margin-top:5%;padding-top:5%;">

                    <h2 class="gradient" id="question">Question:</h2>

                <blockquote>

            <p ><strong>Encrypted text</strong>: EVNM SAAS BAFFA</p>
            <p  ><strong> Key </strong>:HOUGHTON</p>

            </blockquote>
            <form>
                <div class="form-group" ng-controller="level3Controller">
                    <label>Enter your answer: </label><span style="color:red">{{result}}</span><br/>
                    <input type="text" class="form-control "id="answer" name="answer" placeholder="Answer" ng-model="answer">

                    <button type="submit" class="btn btn-warning" style="margin-top:1%;" ng-click="submitAnswer(4)">Submit</button>
                    <button  type="button" class="btn btn-info "style="margin-top:1%;"   ng-click="showClue(4)">Hint</button>
                </div>
            </form>

                </div>
            </div>
        </div>
    </div>
</div>


