
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#myPage" ><span><img style="height:50px;width:100px;margin-top:-20%" ng-src="images/ignite_white_hires.png"/></span></a>

        </div>

        <div class="collapse navbar-collapse" id="myNavbar">
            <span id="eventName">TREASURE HUNT</span>
            <ul class="nav navbar-nav navbar-right">

                <li class="handhover"><a ng-click="">Nikhil K S</a></li>
                <li class="handhover"><a ng-click="">LOG OUT</a></li>

            </ul>
        </div>
    </div>
</nav>

<!--header-->
<div class="page-header text-center " style="border-bottom-color:white;">
    <br><br><h2 style="font-size:400%">TOMB OF CLUES</h2>
    <div style="margin-top:5%;" class="col-sm-12 text-center" ng-controller="ScrollCtrl"><a style="font-size:150%;text-decoration: none;"  ng-click="gotoElement('question')"> Click to View Question</a></div>
</div>
<img class="featureImage"src="images/wormhole.png" >

<!--Container for sublevel links and main frame for all sublevels-->
<div class="container-fluid">
    <div class="row">
        <div id="leftcol" ng-model="myVar" class="col-sm-3 greybg text-center" >
            <br><br/><img ng-src="images/open.png" class="locked"><a class="lockedLevel" style="color:orangered" href="#" > <strong>LEVEL-1</strong></a>
            <br><br><br/><img ng-src="images/close.png" class="locked"><a class="lockedLevel"  href="#" > <strong>LEVEL-2</strong></a>
            <br><br>
        </div>

        <div id="rightcol" class="col-sm-9 greybg">

            <div>
                <h2 class="gradient" id="question">QUESTION</h2>
                <blockquote>
                    <p>Please type your answer in the space provided.</p>
                    <br><img class="img-responsive center-block" src="images/Look_Inside.jpg" style="width:400px; height:150px;" /><br>
                </blockquote>
                <form >
                    <div class="form-group" ng-controller="level3Controller">
                        <br/><br/>
                        <label>Enter your answer:</label>
                        <input type="text" class="form-control col-sm-3" id="answer" name="answer" placeholder="Answer" ng-model="answer"><span style="color:red">{{result}}</span>

                        <br>
                        <button type="submit" class="btn btn-warning "style="margin-top:1%;" ng-click="submitAnswer(1)">Submit</button>
                        <button  type="button"  class="btn btn-info "style="margin-top:1%;"  ng-click="showClue(1)">Hint</button>

                    </div>
                </form>



            </div>

        </div>
    </div>
</div>
</div>






</body ng-app="myApp">
</html>

